{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}


{% block body %}
<div class="main">
    {% if error %}
        <input type="hidden" id="redirectError" data-error="{{ error }}" data-error-content="
            {{ message }}
        ">
    {% else %}
        <input type="hidden" data-error="false" value="">
    {% endif %}
    <div class="menu-holder">
        <div class="menu">
            <div class="menu-logo">CSGO Market Monitoring</div>
            {% block menu %}
            <div class="sub-menu">
                <div class="update-prices">
                    <a href="#" class="href">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Update Prices
                    </a>
                </div>
            </div>
            {% endblock %}
            <div class="logout">
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    </div>
    <div class="main-section">
    {% block mainSection %}
    {% endblock %}
    </div>
</div>
{% block javascripts %}
<script src="src/js/main/script.js"></script>
{% endblock %}
{% endblock %}